  section{
    width: 90%;
    margin: auto;
    padding: 10px;
    border: 2px solid black;
    background-color: lightgray;
  }

  /* Character card styling */
  .grid div {
    background: #f2f2f2;
    padding: 15px;
    text-align: center;
    border: 1px solid blue;
  }
  
  /* Images */
  .grid img {
    max-width: 100%;
    height: auto;
    border-radius: 25px;
  }

  .gallery img {
    border: 3px yellow dashed;
    border-radius: 50px;

  }
  
  /* Headings */
  .character h3 {
    font-size: 1.2rem;
    margin: 10px 0;
    color: #333;
  }
    
  .grid dt {
    font-weight: bold;
    color: #444;
  }
  
  .grid dd {
    margin: 0;
    color: #555;
  }
  

  /* **** Student code starts here */

  .grid
  {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

      padding: 15px;
      gap: 15px;
      border: 25px blue;
  }

  .grid dt 
  {
    display: grid;
    max-width: auto 1fr;
    max-height: auto 1fr;
    text-align: left;
  }

  dt, dd {
  text-align: left;
}

dl {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 10px;
}


  .grid dd
  {
    display: grid;
    max-width: auto 1fr;
    max-height: auto 1fr;
    text-align: left;
  }

  .gallery
  {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 20px;
  }

  .gallery:hover
  {
    scale: 101%;
  }

  .grid > div:nth-child(even) img {
    filter: grayscale(100%);
    border: 25px solid black;
    box-sizing: border-box;
}
